.body{
	margin-top:100px;
}

ul{
	list-style-type: none;
}

.top_img {
	width:20px;
}

.navbar{
	border-bottom:#AFFFEE 5px solid; 
}

.text1{
	 font-size:11px;	
}

.text2{
	 font-size:14px;	
}

.mian_img {
	width:35px;
	height:35px;
}

.image-box {
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
}
.span_color_1{	
	color:#b5863f;
}
.span_color_2{	
	color:#8dcdbf;
}
.span_color_3{	
	color:#ed3535;
}

.admin:hover{
	color:#f69678;
}
.admin:hover:after{
	content: " (admin / 123)";
}

.left{
	padding-left:45px;
}
